@keyframes float{
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes floating {
    0% {
        transform: translateX(0%);  
    }
    20% {
         transform: translateX(60%);  
    }
  	80% {
    		transform:translateX(20%)
    }
    100% {
        transform: translateX(0%);
    }           
}

@-webkit-keyframes floating {
    0% {
        -webkit-transform: translateX(0%);  
    }
    50% { 
         transform: translateX(100%);  
    }
  	80% {
      	transform: translateX(150%);  
    }
    100% {
        -webkit-transform: translateX(0%);
    }           
}

@keyframes floating4 {
    0% {
        transform: translateX(0%);  
    }
    50% {
    		transform:translateX(75%)
    }
    100% {
        transform: translateX(0%);
    }           
}

@-webkit-keyframes floating4 {
    0% {
        -webkit-transform: translateX(0%);  
    }
    50% { 
         transform: translateX(50%);  
    }
    100% {
        -webkit-transform: translateX(0%);
    }           
}

.figures {
    width: 8%;
    height: auto;
}

.figures1 {
    width: 5%;
    height: auto;
	animation: float 3s ease-in-out infinite;
}

.figures2 {
    width: 6%;
    height: auto;
    animation-name: floating;
    -webkit-animation-name: floating;

    animation-duration: 10s;   
    -webkit-animation-duration: 10s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.figures3 {
    width: 7%;
    height: auto;
    animation-name: floating;
    -webkit-animation-name: floating;

    animation-duration: 25s;   
    -webkit-animation-duration: 25s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.figureContainer{
    display: grid !important;
    grid: repeat(4, 220px) / auto-flow 6.2% !important;
    box-sizing: border-box !important;
}

.figureContainer img {
    width: 75% !important;
    height: auto !important;
}
