@keyframes float {
    0% {
        transform: translatey(0px);
        -webkit-transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
        -webkit-transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
        -webkit-transform: translatey(0px);
    }
}

@keyframes floating {
    0% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }
    20% {
        transform: translateX(60%);
        -webkit-transform: translateX(60%);
    }
    80% {
        transform: translateX(20%);
        -webkit-transform: translateX(20%);
    }
    100% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }
}

@-webkit-keyframes floating {
    0% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }
    50% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }
    80% {
        transform: translateX(150%);
        -webkit-transform: translateX(150%);
    }
    100% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }
}

@keyframes floating4 {
    0% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }
    50% {
        transform: translateX(75%);
        -webkit-transform: translateX(75%);
    }
    100% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }
}

@-webkit-keyframes floating4 {
    0% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }
    50% {
        transform: translateX(50%);
        -webkit-transform: translateX(50%);
    }
    100% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }
}

.figures {
    width: 5%;
    height: auto;
}

.figures1 {
    width: 2%;
    height: auto;
    animation: float 2s ease-in-out infinite;
}

.figures2 {
    width: 3%;
    height: auto;
    animation-name: floating;
    -webkit-animation-name: floating;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.figures3 {
    width: 4%;
    height: auto;
    animation-name: floating;
    -webkit-animation-name: floating;
    animation-duration: 7.5s;
    -webkit-animation-duration: 7.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.figureContainer {
    display: grid !important;
    grid: repeat(5, 170px) / auto-flow 6.2% !important;
    box-sizing: border-box !important;
}

.figureContainer img {
    width: 70%;
    height: auto;
}