html, body {
	background-color: lightgrey;
    height: 100%;
    min-height: 100%;
}

#mainHeader {
	background-color: grey;
    width: 70%;
    margin-left: 15%;
    border: 2px solid white;
}

#mainFooter {
    background-color: grey;
    width: 70%;
    margin-left: 15%;
    margin-top: 25px;
    border: 2px solid white;
    bottom: 0;
    position: fixed;
}

#mainHeader h1, #mainFooter h2 {
	font-size: 4vw;
	text-align-last: center;
	color: white;
}

#mainContainer {
    height: 75%;
    min-height: 75%;
    width: 70%;
    margin-left: 15%;
    margin-top: 25px;
    border: 2px solid black;
    z-index: 0;
    overflow: hidden;
}

/*#backscreen {
    height: 2000px;
    width: 2000px;
    background-color: lightgreen;
    margin-top: -150px;
    margin-left: -500px;
    z-index: -1;
}
*/