html, body {
	background-color: whitesmoke;
    height: 100%;
    min-height: 100%;
}

#mainHeader {
	background-color: grey;
    width: 70%;
    margin-left: 15%;
    border: 2px solid white;
}

#mainFooter {
    background-color: grey;
    width: 70%;
    margin-left: 15%;
    margin-top: 25px;
    border: 2px solid white;
    bottom: 0;
    position: fixed;
}

#mainHeader h1, #mainFooter h2 {
	font-size: 4vw;
	text-align-last: center;
	color: white;
}
/*
#mainContainer {
    height: 75%;
    min-height: 75%;
    width: 70%;
    margin-left: 15%;
    margin-top: 25px;
    border: 2px solid black;
    z-index: 2;
    overflow: hidden;
}
*/
.images {
    height: auto;
    width: 10%;
}

.blue {
	left: 1900px;
	top: 350px;
}

.red {
	left: 1900px;
	top: 350px;
}

.blueOne {
    left: 1800px;
    top: 450px;
}

.redOne {
    left: 1800px;
    top: 450px;
}

#box1 img{
    height: 200px;
    width: 140px;
}

#viewContainer {
	width: 70%;
	height: 75%;
    max-height: 75%;
	overflow: hidden;
	border: solid 2px black;
    margin-left: 15%;
    margin-top: 25px;
}

#draggable {
	width: 3000px;
	height: 775px; /*Funker ikke helt ennå, skal prøve og gi 100% høyde av parent div */
/*    background-color: green;*/
	overflow: hidden;
/*    border: 10px solid red;*/
}

/*#backscreen {
    height: 2000px;
    width: 2000px;
    background-color: lightgreen;
    margin-top: -150px;
    margin-left: -500px;
    z-index: -1;
}
*/