html, body {
	background-color: lightgrey;
    height: 100%;
    min-height: 100%;
}

#mainHeader {
	background-color: grey;
	margin: 10px 10px 0px 10px;
    width: 70%;
    margin-left: 15%;
}

#mainHeader h1 {
	font-size: 4vw;
	text-align-last: center;
	color: white;
}

#mainContainer {
    height: 75%;
    min-height: 75%;
    width: 70%;
    background-color: lightblue;
    margin-left: 15%;
    margin-top: 50px;
    border: 1px solid black;
}